.product-img{
    width: 50px;
    border-radius: 50%;
    padding: .2rem;
    background: #fff;
    margin-right: .4rem;
}

.delete-btn{
    background: #ff5c5c;
    border: 1px solid #ff5c5c;
    color: #fff;
    border-radius: 50%;
}